.answer-letter {
    color: #ff9100;
}

button.selected {
    color: #ff9100;
}

body {
    font-family: monospace;
    margin: 0 auto;
}

.title-bar {
    width: 100%;
    /* border-bottom: 4px solid black; */
    position: relative;
}

h1 {
    font-size: 5vh;
    margin: auto;
    text-align: center;
}

#help-button {
    height: 4vh;
    width: 4vh;
    min-width: 20px;
    font-size: 2.5vh;
    margin: 0 0 0 2vh;
    vertical-align: text-bottom;
    position: absolute;
    right: 25px;
    top: 5px;
}

#wheel-container {
    width: 45vh;
    height: 45vh;
    margin: 2vh auto 3vh auto;
}

.wheel {
    border: solid 3px cadetblue;
    border-radius: 50%;
    position: relative;
    height: 95%;
    width: 95%;
    margin: 0 auto;
}

.divider {
    transform-origin: top right;
    height: 3px;
    background-color: #00897b;
    position: absolute;
    top: 50%;
    display: block;
    width: 50%;
}

/* https://jsfiddle.net/t9ugqx3b/3/ */

.letter {
    font-size: 6vh; /* magic number to make it scale properly */
    text-align: center;
    top: 50%;
    left: 50%;
    display: block;
    position: absolute;
    width: 14%;
    height: 14%;
    margin: -7% -7%; /* half width to make it align in the center of the circle (before transforming) */
}

#center-circle {
    border: solid 3px #00897b;
    background-color: #00897b;
    position: relative;
    border-radius: 50%;
    width: 10%;
    height: 10%;
    top: 50%;
    left: 50%;
    margin: -5%;
}

.keyboard {
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.keyboard-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 24%;
}

.keyboard-button {
    width: 8%;
    margin: 1%;
    padding: 0;
    font-size: 4vh;
    font-family: monospace;
    border-style: none;
    border-radius: 5px;
}

.keyboard-row:nth-child(2) {
    margin: 0 5%;
}

.keyboard-row:nth-child(4) button:nth-child(1), 
.keyboard-row:nth-child(4) button:nth-child(3) {
    flex-grow: 1;
    font-size: 6vh;
}

.keyboard-row:nth-child(4) button:nth-child(2) {
    flex-grow: 6;
}

#keyboard-container {
    width: 95vw;
    height: 35vh;
    margin: 0 auto;
    max-width: 500px;
}