.answer-letter {
    color: red;
}

button.selected {
    color: red;
}

#wheel-container {
    width: 50vh;
    height: 50vh;
    margin: 0 auto;
}

.wheel {
    border: solid 3px cadetblue;
    border-radius: 50%;
    position: relative;
    height: 95%;
    width: 95%;
    margin: 0 auto;
}

.divider {
    transform-origin: top right;
    height: 3px;
    background-color: cadetblue;
    position: absolute;
    top: 50%;
    display: block;
    width: 50%;
}

/* https://jsfiddle.net/t9ugqx3b/3/ */

.letter {
    font-size: 6vh; /* magic number to make it scale properly */
    text-align: center;
    top: 50%;
    left: 50%;
    display: block;
    position: absolute;
    width: 14%;
    height: 14%;
    margin: -7% -7%; /* half width to make it align in the center of the circle (before transforming) */
}

#center-circle {
    border: solid 3px cadetblue;
    background-color: cadetblue;
    position: relative;
    border-radius: 50%;
    width: 10%;
    height: 10%;
    top: 50%;
    left: 50%;
    margin: -5%;
}

.keyboard {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.keyboard-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.keyboard-button {
    width: 10%;
    margin: 4px;
    height: 50px;
    border-radius: 4px;
}

.keyboard-row:nth-child(2) {
    padding: 0 25px;
}

.keyboard-row:nth-child(3) {
    padding: 0 40px;
}

.keyboard-row:nth-child(4) {
    padding: 0 35px;
}

.keyboard-row:nth-child(4) button:nth-child(1), 
.keyboard-row:nth-child(4) button:nth-child(3) {
    flex-grow: 1;
}

.keyboard-row:nth-child(4) button:nth-child(2) {
    flex-grow: 6;
}

#keyboard-container {
    background-color: lightseagreen;
    width: 48vh;
    height: 40vh;
    margin: 0 auto;
}